/* Toolbar DataTables */
div.dt-buttons {
    margin-bottom: 0.5rem;
}
/* Konten tidak tertutup sidebar */
.content-wrapper {
    overflow-x: hidden;
}

body {
    font-family: "Times New Roman", serif;
    font-size: 12px;
}

